*{
    margin: 0;
    padding: 0;
}

/*Home Viewport*/
.home {
    
    display: flex;
    overflow: hidden;
    position: relative; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;    
}

/*Contents */

p {
    font-weight: thin;
    font-size: 40px;
}

.Typewrite{
    font-weight: 100;
    padding-bottom: 10px;
    text-align: center;
}

.subtext {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

/*for normal button*/
.button-parent {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
}


/*for Logo*/

.container{
    width: 360px;
    padding: 0;
    height: 288px;
}

.container img{
    width: 100%;
    height: auto;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 40px;
    padding: 0;
}

li {
    display: inline;
    float: left;
    
}

/*Logo Animate - Dim and bright - Start
/* .logo-animate {
    box-shadow: 0px 0px 40px #f0f0f0;
    transition: ease-in-out 2s;
    animation: logoglow 4s ease-in 1s infinite normal;
}

@keyframes logoglow {
    0% { box-shadow: 0px 0px 40px cyan; };
    25% { box-shadow: 0px 0px 80px cyan; };
    50% {box-shadow: 0px 0px 120px cyan;}
    75% {box-shadow: 0px 0px 80px cyan;}
    100% {box-shadow: 0px 0px 40px cyan;}

} */
/*Logo Animate - Dim and bright - End */
